doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://unpkg.com/papercss@1.6.1/dist/paper.min.css')
  link(rel='stylesheet' href='/css/style.css')
  title= singleArticle.title
header
  .container
    h1 Journals
    .container
      p It looks like a Medium, but not that fancy.
      button.btn-warning(onclick="location.href='/';")
        | View All Articles
      | 
      button.btn-success(onclick="location.href='/new';")
        | Create Article
main
  .container-main.padding-none
    .paper.container.article-view
      article.article
        h1.article-title= singleArticle.title
        p.article-meta
          | Written by #{singleArticle.lastName}, #{singleArticle.firstName}
          br
          | Posted on #{singleArticle.createdAt.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})}
        p= singleArticle.text
        .row
          - const articleID = singleArticle._id;
          button.btn-secondary(onclick="location.href='/update/" + articleID + "';")
           | Edit
          button.btn-danger(onclick="location.href='/delete/" + articleID + "';")
           | Delete
